body {
  background: #131b21;
}

.container {
  width: 50%;
  margin: 0 auto;
}

svg#flower-frame {
  height: 90vh;
  width: 100%;
}
@-webkit-keyframes head-grows-up {
  from {
    top: 185px;
    transform: scale(0.1);
  }
  to {
    top: 0;
    transform: scale(1);
  }
}

@keyframes head-grows-up {
  from {
    top: 185px;
    transform: scale(0.1);
  }
  to {
    top: 0;
    transform: scale(1);
  }
}

@-webkit-keyframes body-grows-up {
  from {
    top: 215px;
    transform: scale(0.5);
  }
  to {
    top: 75px;
    transform: scale(1);
  }
}

@keyframes body-grows-up {
  from {
    top: 215px;
    transform: scale(0.5);
  }
  to {
    top: 75px;
    transform: scale(1);
  }
}

@-webkit-keyframes sprout-grows-up-left {
  from {
    transform: scale(0);
    right: -2px;
  }
  to {
    transform: scale(1);
    right: 9px;
  }
}

@keyframes sprout-grows-up-left {
  from {
    transform: scale(0);
    right: -2px;
  }
  to {
    transform: scale(1);
    right: 9px;
  }
}

@-webkit-keyframes sprout-grows-up-right {
  from {
    transform: scale(0);
    left: -2px;
  }
  to {
    transform: scale(1);
    left: 9px;
  }
}

@keyframes sprout-grows-up-right {
  from {
    transform: scale(0);
    left: -2px;
  }
  to {
    transform: scale(1);
    left: 9px;
  }
}

@-webkit-keyframes shadow-rise {
  from {
    width: 110px;
    left: 20px;
  }
  to {
    width: 140px;
    left: 5px;
  }
}

@keyframes shadow-rise {
  from {
    width: 110px;
    left: 20px;
  }
  to {
    width: 140px;
    left: 5px;
  }
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.flower-scene {
  position: relative;
  width: 150px;
  height: 350px;
  margin: 50px auto 0;
  overflow: hidden;
}

.flower-head {
  position: absolute;
  top: 0;
  width: 150px;
  height: 150px;
  z-index: 2;
  -webkit-animation-name: head-grows-up;
          animation-name: head-grows-up;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.petal {
  width: 50%;
  height: 50%;
  float: left;
  background-color: #FF5AB0;
}

.petal-top-left,
.petal-bottom-right {
  border-radius: 0 50%;
}

.petal-top-right,
.petal-bottom-left {
  border-radius: 50% 0;
}

.petal-top-left {
  background-image: linear-gradient(
    -45deg,
    #941356 0%,
    #E63B94 50%,
    #FF5AB0 75%,
    #FF7DC1 100%
  );
}

.petal-top-right {
  background-image: linear-gradient(
    45deg,
    #941356 0%,
    #E63B94 50%,
    #FF5AB0 75%,
    #FF7DC1 100%
  );
}

.petal-bottom-right {
  background-image: linear-gradient(
    135deg,
    #941356 0%,
    #E63B94 50%,
    #FF5AB0 75%,
    #FF7DC1 100%
  );
}

.petal-bottom-left {
  background-image: linear-gradient(
    225deg,
    #941356 0%,
    #E63B94 50%,
    #FF5AB0 75%,
    #FF7DC1 100%
  );
}

.shoots {
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background: #E2A928;
  box-shadow: inset 0 0 10px 5px #FFEF42;
  left: 40%;
  top: 40%;
}

.flower-body {
  position: absolute;
  top: 75px;
  left: 70px;
  width: 10px;
  height: 200px;
  z-index: 1;
  background-image: linear-gradient(#158633 30%, #28E259 60%);
  -webkit-animation-name: body-grows-up;
          animation-name: body-grows-up;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.flower-body:before {
  content: '';
  position: absolute;
  top: 100px;
  right: 9px;
  width: 20px;
  height: 20px;
  border-radius: 0 50%;
  background: #28E259;
  -webkit-animation-name: sprout-grows-up-left;
          animation-name: sprout-grows-up-left;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.flower-body:after {
  content: '';
  position: absolute;
  top: 130px;
  left: 9px;
  width: 20px;
  height: 20px;
  border-radius: 50% 0;
  background: #28E259;
  -webkit-animation-name: sprout-grows-up-right;
          animation-name: sprout-grows-up-right;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.flower-pot {
  position: absolute;
  bottom: 10px;
  left: 35px;
  width: 80px;
  height: 70px;
  border-radius: 0 0 20% 20%;
  background-image: linear-gradient(#73460F 10%, #A56414);
  z-index: 2;
}

.flower-pot:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 15px;
  border-radius: 0 0 5px 5px;
  background: #905813;
  left: -10px;
}

.flower-pot-shadow {
  position: absolute;
  width: 140px;
  height: 30px;
  border-radius: 50%;
  background: #eaeaea;
  bottom: 0px;
  left: 5px;
  z-index: 1;
  -webkit-animation-name: shadow-rise;
          animation-name: shadow-rise;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}


#Footer_group_1_,
[id^=PinkFlowerGroup],
[id^=BaseGroup] path,
[id^=LeafGroup] path,
path[id^=Stroke],
g[id^=BudGroup] g[id^=BudGroup] g[id^=Bud],
#Bud8_1_,
#Bud10_1_,
#Bud23_1_,
#Bud26_1_,
[id^=Dots],
[id^=Flourish] {
  visibility: hidden;
}
