#canvas {
    cursor: crosshair;
    overflow: hidden;
    display: block; /* Thêm dòng này */
}

body, html { /* Cập nhật phần này */
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
